@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}
body {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}

#stats-overlay {
  max-width: 20%;
  color: var(--primaryColor);
  margin: 11.5rem 1rem;
}

.stat {
  margin: 1.5rem auto;
}

main {
  max-width: 40%;
  margin: 3rem auto;
}

h1 {
  color: var(--primaryColor);
}

#timer {
  color: var(--primaryColor);
  font-size: 1.8rem;
}

#game {
  display: flex;
  position: relative;
  margin-top: 5rem;
  line-height: 35px;
  height: 118px;
  overflow: hidden;
  outline: 0;
}

#words {
  margin-top: 1rem;
  color: var(--textSecondary);
}

.word {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  margin: 0 5px;
}
.letter.correct {
  color: #fff;
}
.letter.incorrect {
  color: #f55;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#stats {
  margin: 6rem auto;
  color: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}
